$main-dark-color: #fff;
$main-bg-color: #141b24;
.price-card-group {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  .price-card {
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: $main-dark-color;
    color: $main-bg-color;
  }
}
